.top-content {
    margin: 5rem auto 0;
    text-align: end;
    button {
        background-color: darkolivegreen;
        color: white;
        width: 10rem;
        border: none;
        padding: .5rem 2rem;
    }
}

.mid-content {
    display: flex;
    flex-direction: column;
    h1 {
        margin: 2rem auto;
    }
    .button {
        text-align: center;
        button {
            background-color: darkolivegreen;
            color: white;
            width: 10rem;
            border: none;
            padding: .5rem 2rem;
        }
    }
}
